<% layout("layouts/boilerplate") %>
    <div class="card mx-auto" style="width: 70%;">
        <img class="card-img-top image-fluid" src="https://picsum.photos/1200/800" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted"><%= campground.location %></li>
          <li class="list-group-item">$ <%= campground.price %> / per night</li>
        </ul>
        <div class="card-body">
          <a href="/campgrounds" class="card-link btn btn-primary">Show All Camp Sites</a>
          <a href="/campgrounds/<%= campground._id %>/update" class="card-link btn btn-info">Update Information</a>
          <form class="btn mb-1" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger" type="submit">Delete This CampSite</button>
          </form>
        </div>
      </div>
      